@font-face { 
	font-family: 'phoenix';
	src:  url('../font/phoenix.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal; 
} 

canvas {
	background-color:#000;
}
body {
	overflow: hidden;
	background-color: #000;
}
* {
	font-family: 'phoenix'; font-size:16px;
	margin: 0;
	padding: 0;
}
img {
	display:none
}
.villager_count {
	width: 100%;
	position: absolute;
	text-align: center;
	color:white;
}
.credits {
	width: 100%;
	position: absolute;
	bottom: 1em;
	text-align: center;
	color:white;
}
a:visited {
	color: white;
}