canvas {
	background-color:#000;
}
body {
	overflow: hidden;
}
* {
	margin: 0;
	padding: 0;
}
img {
	display:none
}
.villager_count {
	width: 100%;
	position: absolute;
	text-align: center;
	color:white;
	font-family: Helvetica;
}
.credits {
	width: 100%;
	position: absolute;
	bottom: 1em;
	text-align: center;
	color:white;
	font-family: Helvetica;
}
a:visited {
	color: white;
}